<footer class="u-clearfix u-footer u-grey-80" id="sec-01f0"><div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1"><!--position-->
                        <div data-position="" class="u-position u-position-1"><!--block-->
                            <div class="u-block">
                                <div class="u-block-container u-clearfix"><!--block_header-->
                                    <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                                    <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                                </div>
                            </div><!--/block-->
                        </div><!--/position-->
                        <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-1">Свежие новости</a>
                        <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-2">Лучшие статьи по отзывам</a>
                        <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-3">Политика сайта</a>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2"><!--position-->
                        <div data-position="" class="u-position u-position-2"><!--block-->
                            <div class="u-block">
                                <div class="u-block-container u-clearfix"><!--block_header-->
                                    <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                                    <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                                </div>
                            </div><!--/block-->
                        </div><!--/position-->
                        <a href="index" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-4">Главная</a>
                        <a href="news" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-5">Новости</a>
                        <a href="about" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-6">Статьи</a>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3"><!--position-->
                        <div data-position="" class="u-position"><!--block-->
                            <div class="u-block">
                                <div class="u-block-container u-clearfix"><!--block_header-->
                                    <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                                    <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                                </div>
                            </div><!--/block-->
                        </div><!--/position-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1"></div>
    <p class="u-align-center u-small-text u-text u-text-variant u-text-7">2021 Все права защищены.</p>
</div></footer>