<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>АК-12</title>
    <link rel="stylesheet" href="style.css" media="screen">
<link rel="stylesheet" href="АК-12.css" media="screen">
    <script class="u-script" type="text/javascript" src="../views/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../views/js/style.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="АК-12">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-gradient u-header u-header" id="sec-0d98"><div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="../../Учеба/Курсовая/images/logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700; font-family: Montserrat;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-nav u-spacing-30 u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a class="u-border-2 u-border-active-grey-25 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top 
                u-button-style u-nav-link u-text-active-grey-15 u-text-hover-grey-90 u-text-white" href="ГЛАВНАЯ.hbs" style="padding: 10px 0px;">ГЛАВНАЯ</a>
</li><li class="u-nav-item">
  <a class="u-border-2 u-border-active-grey-25 u-border-hover-palette-1-base u-border-no-left u-border-no-right 
  u-border-no-top u-button-style u-nav-link u-text-active-grey-15 u-text-hover-grey-90 u-text-white" href="НОВОСТИ.hbs" style="padding: 10px 0px;">НОВОСТИ</a>
</li><li class="u-nav-item"
><a class="u-border-2 u-border-active-grey-25 u-border-hover-palette-1-base u-border-no-left u-border-no-right 
u-border-no-top u-button-style u-nav-link u-text-active-grey-15 u-text-hover-grey-90 u-text-white" href="СТАТЬИ.hbs" style="padding: 10px 0px;">СТАТЬИ</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="ГЛАВНАЯ.hbs" style="padding: 10px 0px;">ГЛАВНАЯ</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="НОВОСТИ.hbs" style="padding: 10px 0px;">НОВОСТИ</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="СТАТЬИ.hbs" style="padding: 10px 0px;">СТАТЬИ</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="carousel_e4e5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center-lg u-align-center-xl u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-container-layout-1" src="">
                  <img src="../../Учеба/Курсовая/images/00-cfb95a223390bd381e35703b2f5bb7bc.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="315" data-image-height="220">
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h3 class="u-custom-font u-font-montserrat u-text u-text-1">Неизвестная история <br>АК-12: начало
                  </h3>
                  <p class="u-text u-text-2"><i>За последние 20 лет автомат АК-12 стал, пожалуй, самым обсуждаемым образцом стрелкового оружия в России. Даже после принятия на вооружение в его истории осталось много неизвестного для широкой публики. Попробуем разобраться с эволюцией семейства АК-12 — от первого варианта 2011 года до новейших модификаций, представленных в 2021 году.</i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-2" id="sec-4dc5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-text u-text-1"> За последние 75 лет по всему миру были созданы десятки модификаций
           автомата Калашникова. Как минимум 32 страны производили различные варианты АК, сотни 
           конструкторов пытались его модернизировать и улучшить. Но за все эти годы, пожалуй, 
           ни один новый образец не получал столько внимания со стороны СМИ и экспертного сообщества, 
           как автомат АК-12.<br>В прошлом разработка и испытания нового образца стрелкового оружия 
           обсуждались лишь в узком кругу профессионалов — среди испытателей, конструкторов, офицеров 
           Министерства Обороны. Но развитие СМИ и социальных сетей в наше время привели к тому, что 
           АК-12 стал предметом обсуждения и героем публикаций за много лет до принятия на вооружение, 
           и не только в России.Французские спецназовцы, индонезийские полицейские, арабские шейхи и 
           вьетнамские студенты — все они, приходя на стенд «Калашникова» на международных оборонных 
           выставках, начинали разговор с автором с вопроса:&nbsp;<i>«Как там идёт разработка 
             АК-12?»</i>&nbsp;Ещё до окончания испытаний автомат стал героем многочисленных 
             компьютерных игр и документальных фильмов. Пусть существенная часть истории АК-12 
             и опубликована в открытом доступе, некоторые «белые пятна» до сих пор вызывают вопросы 
             у специалистов. Данный материал призван заполнить эти пробелы и рассказать об истории 
             автомата АК-12 — его прошлом и настоящем, и о том, как развивалась конструкция данного 
             образца.Но начнём по порядку.<br>
          <br>
        </p>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_c70e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-34 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-60">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-valign-top-lg u-valign-top-xl u-container-layout-1">
                      <div class="u-image u-image-circle u-image-1" data-image-width="900" data-image-height="450"></div>
                      <div class="u-container-style u-expanded-width u-group u-palette-5-light-2 u-group-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                          <h6 class="u-custom-font u-text u-text-default u-text-font u-text-1">01</h6>
                          <p class="u-text u-text-2">Автомат АК-12 и его версия АК-15 под патрон 7,
                            62×39 были созданы в рамках опытно-конструкторской работы по теме «Ратник». 
                            Сейчас, спустя почти 10 лет, тяжело понять значение «Ратника» для российских 
                            вооружённых сил, но на тот момент важность данного проекта тяжело было 
                            переоценить.<br>Отставание российской армии в области экипировки было
                             колоссальным, и комплекты обмундирования и снаряжения, созданные в рамках 
                             ОКР «Ратник», стали огромным шагом вперёд. Армия перешла с ватных бушлатов 
                             на многослойную систему одежды из современных материалов, а на смену 
                             вещмешкам и брезентовому подсумку на поясе пришли бронежилеты с системой 
                             крепления снаряжения MOLLE.В рамках ОКР «Ратник» был разработан и принят 
                             на вооружение дневно-ночной прицельно-наблюдательный комплекс (ДНПК) для 
                             стрелкового оружия, включающий в себя коллиматорный прицел (КП) 1П87, ночной 
                             монокуляр (НМ) 1ПН138, зрительную трубку (ЗТ) 1П90 и лазерный целеуказатель 
                             (ЛЦУ) 1К241. По сути, именно совместимость с новым прицельным комплексом и 
                             улучшение эргономики оружия и были основными задачами при формировании 
                             технического задания на новый автомат.<br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2" data-image-width="690" data-image-height="639">
                    <div class="u-container-layout u-container-layout-3">
                      <div class="u-container-style u-grey-50 u-group u-group-2">
                        <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                          <h6 class="u-custom-font u-text u-text-default u-text-font u-text-3">02</h6>
                          <p class="u-text u-text-4">Автомат имел минимальную отдачу и подброс. Достигнуто 
                            это было, как выражались некоторые конструкторы, «уборкой мяса», т.е. снижением 
                            массы движущихся частей. На всех узлах и деталях оставили минимально возможное 
                            количество металла, для уменьшения массы даже посредине затворной рамы появилось 
                            огромное прямоугольное отверстие.Подобные меры по облегчению конструкции плохо 
                            сочетаются с требованиями по служебной прочности и приводят к проблемам при 
                            стрельбе из подствольного гранатомёта: на одном из автоматов после 20-го выстрела 
                            разрушился кронштейн крепления крышки ствольной коробки. Также облегчение 
                            конструктивных элементов привело к поломкам затвора и элементов затворной рамы 
                            на других автоматах.<br>
                            <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-shape-rectangle u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-5">
                      <p class="u-text u-text-grey-40 u-text-5">Приклад второго варианта АК-12 получился 
                        весьма удачным с точки зрения эргономики — лёгким и удобным в эксплуатации. Однако, 
                        к сожалению, он совершенно не выдерживал бросков, и на государственных испытаниях 
                        сломался после первого же падения на бетон с высоты 1,5 метров.Остальные наиболее 
                        известные особенности второго варианта АК-12 вызывали такие же противоречивые чувства.
                         Двухсторонний переводчик был отличной идеей, но из-за своеобразной реализации 
                         переключение часто напоминало игру «угадай, какой режим установлен». Для включения 
                         и выключения необходимого режима огня приходилось выворачивать запястье, отрывать 
                         руку от пистолетной рукоятки и использовать указательный палец.<br>Режим отсечки 
                         работал нестабильно. В положении «очередь в два выстрела» автомат обычно выдавал 
                         один выстрел, а иногда и три, а хитроумная конструкция самой отсечки приводила в 
                         трепет даже самых опытных слесарей-ремонтников.Рукоятка затворной рамы первых трёх 
                         вариантов АК-12 была двухсторонней, её можно было установить как справа, так и слева.
                          Но тут в дело вмешался человеческий фактор: привычные к АК стрелки-правши 
                          брали автомат за магазин и тут же получали удар затворной рамой по большому 
                          пальцу левой руки. В итоге по факту на стрельбах рукоятка затворной рамы всегда 
                          находилась справа, как на старом АК.<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-clearfix u-footer u-grey-80" id="sec-01f0"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1"><!--position-->
                  <div data-position="" class="u-position u-position-1"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                  <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-1">Свежие новости</a>
                  <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-2">Лучшие статьи по отзывам</a>
                  <a class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-3">Политика сайта</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2"><!--position-->
                  <div data-position="" class="u-position u-position-2"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                  <a href="ГЛАВНАЯ.hbs" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-4">Главная</a>
                  <a href="НОВОСТИ.hbs" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-5">Новости</a>
                  <a href="СТАТЬИ.hbs" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-btn u-button-style u-none u-text-white u-btn-6">Статьи</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3"><!--position-->
                  <div data-position="" class="u-position"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1"></div>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-7">2021 Все права защищены.</p>
      </div></footer>
  </body>
</html>