<!DOCTYPE html>
<html style="font-size: 16px;"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>ГЛАВНАЯ</title>
    <link rel="stylesheet" href="style.css" media="screen">
<link rel="stylesheet" href="ГЛАВНАЯ.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="style.js" defer=""></script>
    <script type="text/javascript" src="jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <meta property="og:image" content="images/logo.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.png?rand=133a"

}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="ГЛАВНАЯ">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">

  {{> menu}}

    <section class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-image u-section-1" id="carousel_b9bc" data-image-width="315" data-image-height="220">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-align-justify u-text u-text-body-alt-color u-text-1">В России создали дробовой<br>патрон с «трассером»
        </h4>
        <a href="drob" data-page-id="301715960" class="u-border-none u-btn u-btn-round u-button-style
        u-custom-color-1 u-custom-font u-radius-25 u-btn-1">ЧИТАТЬ</a>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-2" id="sec-7634">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Свежие новости и статьи</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-default u-text-2">Новость</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="315" data-image-height="220" src="00-cfb95a223390bd381e35703b2f5bb7bc.jpg">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-3">Неизвестная история АК-12: начало</h6>
                <a href="kal" data-page-id="268676717" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-1">ЧИТАТЬ</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h3 class="u-text u-text-default u-text-4">Новость</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="315" data-image-height="220" src="86-836a7d23d75e84f411c8d4b257a2196e.jpg">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-5">Забытые братья "Макарова"</h6>
                <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-2">ЧИТАТЬ</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h3 class="u-text u-text-default u-text-6">Новость</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="315" data-image-height="220" src="foto_3-_pistolet-pulemet_pp-71m_-g-007__sdelannyy_na_osnove_pp-71_vypuska_1972_g-__kalashnikov-media_-c8c1918ea88c6699830006c44253017e.jpg">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-7">Ижевский "Букет" от Драгунова</h6>
                <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-3">ЧИТАТЬ</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <h3 class="u-text u-text-default u-text-8">Статья</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="315" data-image-height="220" src="_1-50_screenshot-395bacffb81d3bed227f6aa7a18bdea3.png">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-9">Бельгийский автомат FN F2000 прошёл испытания грязью</h6>
                <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-4">ЧИТАТЬ</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <h3 class="u-text u-text-default u-text-10">Статья</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="315" data-image-height="220" src="6397399-297aedcf8a8ccfea7bbab8d8a349aa24.jpeg">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-11">Возвращение "Нагана"</h6>
                <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-5">ЧИТАТЬ</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <h3 class="u-text u-text-default u-text-12">Статья</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="315" data-image-height="220" src="kalashnikov_vpervye_pokazhet_pistolet-pulemet_dlya_letchikov_ppk-20_2-16_screenshot-365e533705ded6f1a1714a74d9c9e1d01.png">
                <h6 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-13">Пример заголовка</h6>
                <a href="" class="u-border-none u-btn u-btn-round u-button-style u-grey-60 u-radius-18 u-btn-6">ЧИТАТЬ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-80 u-valign-middle u-section-3" id="carousel_0c57">
      <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <div class="u-expanded-height-md u-expanded-height-sm u-expanded-height-xs u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
          <div class="u-expanded-height-md u-expanded-height-sm u-expanded-height-xs u-palette-3-base u-shape u-shape-rectangle u-shape-2"></div>
          <h2 class="u-align-center u-text u-text-1"> СТРЕЛКОВОЕ ОРУЖИЕ </h2>
          <p class="u-align-left u-text u-text-2">
            <span style="font-size: 1rem;">Этот раздел портала History GUN посвящён истории огнестрельного оружия, которая насчитывает более тысячелетия. Первое стрелковое оружие, известное современным исследователям истории, появилось в Китае ещё в Х веке и представляло собой бамбуковую трубку, заряжавшуюся порохом и камнями. Несколько позднее китайские оружейники создали прообраз боевых ракет – летающее копьё, заряжавшееся горючей смесью. В течение последующих столетий военное вооружение активно развивалось – на смену железным и бронзовым трубам пришли кулеврины, «потомками» которых стали аркебузы, мушкеты и лёгкие пушки. Локомотивом новых оружейных разработок стали страны Центральной и Западной Европы, многие из которых в XV-XVI столетиях начали процесс колонизации Африки, Азии, Северной и Южной Америки, а потому нуждались в эффективном оружии. <br>Разработки огнестрельного оружия стимулировались и частыми войнами в самой Европе: в XVI веке стали широко использоваться колесцовые, в XVII веке – ударно-кремнёвые замки. К началу XVIII века развитие вооружений несколько замедлилось, и ещё полтора столетия массовым оружием оставалось гладкоствольное дульнозарядное ружьё. В начале ХIХ века благодаря серьёзным достижениям европейской химической науки, металлургии и механики произошёл настоящий технологический прорыв – швейцарский инженер Самуэль Иоганн Паули изобрёл казнозарядное ружьё центрального боя, заряжаемое унитарным патроном. 1830-е годы ознаменовались появлением первых револьверов, 1880-е годы – созданием пулемёта.
Из Европы и Соединённых Штатов огнестрельное оружие проникало в самые отдалённые уголки мира – к концу XIX века новейшие винтовки можно было встретить даже на берегах Конго и Амазонки, в джунглях Французского Индокитая и степях Монголии. ХХ век принёс человечеству две мировые войны, открыв новую страницу в истории развития огнестрельного оружия – среди всего прочего, были изобретены пистолет-пулемёт и автомат, активно велись разработки новых артиллерийских систем, пулемётов, снайперского вооружения.
Сегодня мир также не стоит на месте – современное стрелковое оружие насчитывает тысячи моделей и модификаций, при этом ежегодно <br>на рынок вооружений выходят новые производители. Многие оружейные новинки представляют собой высокотехнологичный продукт, созданный с применением последних научных достижений.
            </span>
          </p>
        </div>
      </div>
    </section>
    
    
    {{>footer}}
</body></html>