<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Техническая поддержка</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="АК-12.css" media="screen">
    <script class="u-script" type="text/javascript" src="../views/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../views/js/style.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "logo": "images/logo.png"
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="АК-12">
    <meta property="og:type" content="website">
</head>
<body class="u-body">

{{> menu}}

<form method="POST">
    <label>Проблема</label>
    <input name="problem" required/><br><br>
    <label>Имя</label>
    <input name="name" required/><br><br>
    <label>Телефогн</label>
    <input name="phone" required/><br><br>
    <input type="submit" value="Отправить" />
</form>

{{>footer}}
</body></html>